<!doctype html>
<html>
        <head>
                <div class = 'alert alert-primary'>
                    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
                <h2>Saw a squirrel?</h2>
                <p>You can add the sighting details here</p>
                </div>
          <br>
        </head>      
        <body background="https://th.bing.com/th/id/Rf54e60e87e0899ea2f6e7c64eae9c18b?rik=N6hWtNDPo8DYbQ&riu=http%3a%2f%2fimg1.juimg.com%2f161215%2f355846-1612150K55690.jpg&ehk=y0aZYh4BSwjSxvyl0VlaORgbyjO%2fsAQdHtu5HIKLkW0%3d&risl=&pid=ImgRaw" style=" background-repeat:no-repeat;
        background-size:100% 100%; 
        background-attachment: fixed;">
            <style>body{padding-left:10px; padding-right:10px;}</style>

    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <p> Add these details to the database by clicking the "Submit" button below  <img src="https://image.flaticon.com/icons/svg/1140/1140163.svg" style="width:30px" class="rounded" alt="..." ></p>
        <input type="submit" value="Submit" />
    </form>
    </body>
</html>