<!doctype html>
<html lang='en'>
        <head>
                <title>Squirrel Tracker</title>
        </head>
        <body>
<style>
      body{
	padding-top: 30px;
        padding-left: 10px; padding-right: 10px;
      }
</style>
        <p>
		<div align='center'>
			<img src="https://th.bing.com/th/id/R111ede7aa8711d5521f5b4922b1eb2d2?rik=84uZXahanNL1kg&riu=http%3a%2f%2fwww.colorpuss.com%2fupload%2fdetail%2f300%2f20200720185820452%2f1.jpg&ehk=5VG4cbQahy1qIUzqB2VB1U3bUF9mlLrhD%2beMFB1psQ8%3d&risl=&pid=ImgRaw" style="width:700px" class="rounded" alt="..." >
		</div>
		<br>
		<br>
		<div align='center'>
			<h1 style=font-size:88px class='text-center'><strong>Squirrel Tracker in Central Park!!</strong></h1>
		</div>
		<div align='center'>
			<br>
			<a href="/sightings/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Squirrel Sightings</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/map/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Sightings Map</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/sightings/stats/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Sightings Statistics</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/sightings/add/" class="btn btn-outline-warning btn-lg active" role="button" aria-pressed="true"><strong>Add New Sighting</strong></a>
		</div>
		</p>
		<br>
	</body>
</html>